@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: 100%;
  color: rgb(151, 151, 151);
}
body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(21, 21, 21);
}
.testimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  position: absolute;
  grid-template-columns: 0.6fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  margin-bottom: 75px;
}

.gradient-container {
  position: relative;
  width: 50%;
  height: 650px;
}

.gradient-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgb(21, 21, 21) 0%,
    rgba(21, 21, 21, 0) 55%
  );
}

.prehalf {
  width: 50%;
  max-height: 650px;

  flex-direction: column;
  justify-content: left;
}

.preview-images {
  position: relative;
  width: 100%;
  max-height: 650px;
  display: flex;
}

.preHalfImage {
  margin-left: 5%;
  margin-right: 5%;
  max-height: 400px;
  max-width: 400px;
}

.preview-song-art {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.song-info {
  margin-left: 5%;
  margin-right: 5%;
  z-index: 10;
}
.song-info-title {
  font-weight: 800;
  font-size: 50px;
}

.previewArtist {
  width: 85%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.song-box-img {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  margin-left: 30px;
  background-position: center;
  background-size: cover;
}

.subMenu,
.listMenu {
  margin-bottom: 67px;
  overflow-y: auto;
}

.subMenu,
.mainMenu {
  border-right: 1px solid rgb(60, 60, 60);
  padding: 0px 40px 0px 40px;
}

/* div {
  border: 1px;
  border-color: red;
  border-style: solid;
} */
li {
  list-style-type: none;
}
.main-menu-list > li,
.sub-menu-playlist > li,
.sub-menu-recent-songs > li,
.sub-menu-discover > li,
.sub-menu-upload > li {
  margin-top: 30px;
}
.main-menu-list > li > button > i,
.sub-menu-upload > li > button > i {
  width: 20px;
}
.sub-menu-upload > label > i {
  width: 20px;
}

.selected {
  background-color: rgb(10, 10, 10);
  border-bottom: 1px solid rgb(60, 60, 60);
  border-top: 1px solid rgb(60, 60, 60);
  color: white;
}
.selectedBtn {
  background-color: rgb(10, 10, 10);
  color: white;
}

.song-object-style div {
  overflow: hidden;
  transform-origin: 0 0;
}

.song-object-style img {
  transition: transform 0.3s, filter 0.3s ease-in-out;
  filter: brightness(100%);
}

.song-object-style > div > div:hover {
  background-color: rgb(10, 10, 10);
}

.song-object-style > div > div:hover > div > img {
  transform: scale(1.1);
  filter: brightness(50%);
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInput + label {
  font-size: 16px;
  padding: 7px 20px 7px;
  font-weight: 700;
  line-height: 1.5;
  background-color: rgb(21, 21, 21);
  display: block;
  cursor: pointer;
  text-align: center;
  border: 1px solid rgb(60, 60, 60);

  text-align: center;
  justify-items: center;
  justify-content: center;
}

.fileInput:active + label,
.fileInput + label:hover {
  color: white;
  background-color: black;
  border: 1px solid rgb(133, 133, 133);
}

.ph-music-notes-plus,
.ph-playlist,
.main-menu-list > li > button > .ph-music-notes,
.ph-magnifying-glass,
.ph-upload-simple,
.ph-folder {
  padding-right: 10px;
}
.main-menu-list,
.sub-menu-discover,
.sub-menu-playlist,
.sub-menu-recent-songs {
  padding: 0;
}
.ph-folder {
  font-size: 20px;
}

.media-player {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(60, 60, 60);
}

.song-info-small {
  display: flex;
  max-height: 40px;
  width: 20%;
  justify-content: space-around;
}
.MP-name {
  color: white;
  font-size: 16px;
  margin: 0px;
  padding-right: 10px;
  padding-left: 10px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.MP-artist {
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  padding-right: 10px;
  padding-left: 10px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.table-header {
  background: rgb(21, 21, 21);
  color: rgb(100, 100, 100);
  border-bottom: 1px solid rgb(60, 60, 60);
  border-top: 1px solid rgb(60, 60, 60);
  position: sticky;
  top: 0;
  display: flex;
  width: auto;
  height: 40px;
  z-index: 10;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.table-header > h4,
i {
  width: 200px;
}

.table-title {
  color: rgb(208, 208, 208);
  margin: 0px;
  padding-left: 20px;
}
.ph-plus:hover,
.ph-minus:hover {
  cursor: pointer;
  color: white;
  -webkit-transition: 0.2s;
}

button {
  background-color: rgb(21, 21, 21);
  border-style: none;
  box-sizing: border-box;
  color: rgb(154, 154, 154);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: left;
  width: 100%;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  color: white;
  background-color: rgb(10, 10, 10);
}
.start,
.forward,
.back {
  max-width: 50px;
  height: 65px;
}

/*Drop down Menu */

/*.dropdown {
  position: relative;

  width: 300px;
  height: 50px;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;
  width: 8px;
  height: 8px;
  border: 2px solid #333;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdown.active::before {
  top: 22px;
  transform: rotate(-225deg);
}

 .dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #fff;
  font-size: 1.2em;
  border: none;
  outline: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  padding: 12px 20px;
  border-radius: 10px;
} 

 .dropdown .options {
  position: absolute;
  top: 70px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  display: none;
} 

.dropdown.active .options {
  display: block;
}

.dropdown .options div {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown .options div:hover {
  background: #62baea;
  color: #fff;
}
*/

#textInput {
  border: 1px solid rgb(60, 60, 60);
  padding: 10px 10px;

  background-color: rgb(21, 21, 21);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  outline: none;
  color: rgb(154, 154, 154);
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: block;
  width: 90%;
}
#textInput:focus {
  color: white;
  background-color: black;
  border: 1px solid rgb(133, 133, 133);
}
.searchBtn {
  background-color: rgb(21, 21, 21);
  border-style: none;
  margin-top: 22px;
  box-sizing: border-box;
  color: rgb(154, 154, 154);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.5;

  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: left;
  width: 100%;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.searchBtn:hover {
  color: white;
  background-color: rgb(10, 10, 10);
}

.volume {
  -webkit-appearance: none;
  width: 90%;
  position: absolute;
  background: none;
  height: 5px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.2s;
}

.volume::-webkit-volume-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  background: rgb(10, 10, 10);
  cursor: pointer;
  -webkit-transition: 0.2s;
}

.volume::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  background: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-transition: 0.2s;
}
.volume::-webkit-volume-thumb:hover {
  scale: 1.2;
}
.volume::-moz-range-thumb:hover {
  scale: 1.2;
}

.volumeProgress {
  width: 90%;
  background-color: rgb(66, 66, 66);
  height: 5px;
  border: none;
  border-radius: 5px;
  position: absolute;
}
.volumeContainer {
  padding: 15px;
  width: 15%;
  align-items: center;
  display: flex;
  position: relative;
  margin-right: 25px;
}
.volumeProgress::-moz-progress-bar {
  background-color: rgb(172, 172, 172);
}
.volumeProgress::-webkit-progress-bar {
  background-color: rgb(172, 172, 172);
}
.mute > i {
  width: auto;
}

.musicBar {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  background: none;
  height: 5px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.2s;
}

.musicBar:hover {
  opacity: 1;
}

.musicBar::-webkit-musicbar-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  background: rgb(10, 10, 10);
  cursor: pointer;
}

.musicBar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  background: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-transition: 0.2s;
}

.musicBar::-webkit-musicbar-thumb:hover {
  scale: 1.2;
}
.musicBar::-moz-range-thumb:hover {
  scale: 1.2;
}
.musicBarContainer {
  padding: 15px;
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
  margin-right: 25px;
}

.progress {
  width: 100%;
  background-color: rgb(66, 66, 66);
  height: 5px;
  border: none;
  border-radius: 5px;
  position: absolute;
}

.progress::-moz-progress-bar {
  background-color: rgb(172, 172, 172);
}
.progress::-webkit-progress-bar {
  background-color: rgb(172, 172, 172);
}

.startTime,
.endTime {
  margin-right: 10px;
  margin-left: 10px;
}
.ph-speaker-slash,
.ph-speaker-high {
  cursor: pointer;
  margin-left: 10px;
}
